
@tailwind base;
@tailwind components;
@tailwind utilities;

/* свои кастомные переменные и цвета */
:root {
  --color-accent: #8a0404;
}
.bg-dark-glass {
  background-color: rgba(11,11,11,0.7);
}

@font-face {
  font-family: 'Moniqa';
  src: url('/fonts/moniqa/Moniqa-BoldCondensedDisplay.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Moniqa';
  src: url('/fonts/moniqa/Moniqa-BlackDisplay.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

.font-moniqa {
  font-family: 'Moniqa', sans-serif;
}




