
@tailwind base;
@tailwind components;
@tailwind utilities;

/* свои кастомные переменные и цвета */
:root {
  --color-accent: #500101;
}
.bg-dark-glass {
  background-color: rgba(11,11,11,0.7);
}

.prose u {
  text-decoration: underline;
}

.prose ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.prose ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

@font-face {
  font-family: 'Moniqa';
  src: url('/fonts/moniqa/Moniqa-BoldCondensedDisplay.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Moniqa';
  src: url('/fonts/moniqa/Moniqa-BlackDisplay.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

.font-moniqa {
  font-family: 'Moniqa', sans-serif;
}


@font-face {
  font-family: 'Roboto Slab';
  src: url('/fonts/roboto-slab/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('/fonts/roboto-slab/RobotoSlab-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Tailwind класс */
.font-roboto-slab {
  font-family: 'Roboto Slab', serif;
}


